doctype //if lt IE 7 
html.no-js.ie6.lt8(lang='en')  
|  
html.no-js(lang='en')
  // <![endif]
  head
    meta(charset='UTF-8')
    // <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    title Staj Kayıt
    |         
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    |  
    |         
    meta(name='description', content='Mülakat')
    |         
    meta(name='keywords', content='html5, css3, form, switch, animation, :target, pseudo-class')
    |         
    meta(name='author', content='Codrops')
    |         
    link(rel='shortcut icon', href='../favicon.ico')
    |  
    |         
    link(rel='stylesheet', type='text/css', href='css/demo.css')
    |         
    link(rel='stylesheet', type='text/css', href='css/style.css')
    | &#x9;&#x9;
    link(rel='stylesheet', type='text/css', href='css/animate-custom.css')
  |     
  body
      header
        h1
          | 
        | &#x9;&#x9;&#x9;&#x9;
        nav.codrops-demos
          | &#x9;&#x9;&#x9;&#x9;&#x9;
          a.current-demo(href='index') Anasayfa
          | &#x9;&#x9;&#x9;&#x9;&#x9;
          a(href='stuEntry') Öğrenci Kayıt
          | &#x9;&#x9;&#x9;&#x9;&#x9;
          a(href='interview') Mülakat kayıt
          | &#x9;&#x9;&#x9;&#x9;&#x9;
          a(href='get') Sorgulama
          | &#x9;&#x9;&#x9;&#x9;&#x9;
          a(href='itpage') Mülakat Tarih Oluştur
          | &#x9;&#x9;&#x9;&#x9;&#x9;
          a(href='kurul') Kurula Ekle
      |             
      section
        #container_demo          
          a#toregister.hiddenanchor
          |                     
          a#tologin.hiddenanchor
          |                     
          #wrapper
            #login.animate.form
              form(action='internData',method="post", autocomplete='on')
                h1 Staj Kayıt
                |  
                |                                 
                p
                  label.num(for='stuNum', data-icon='u')  Öğrenci No 
                  |                                     
                  input#stuNum(name='stuNum', required='required', type='number', placeholder='xxxxxx')
                |                                 
                p
                  label.sinif(for='class', data-icon='p')  Sınıf
                  |                                     
                  input#class(name='class', required='required', type='number', placeholder='?')
                |                                  
                p
                  label.kurum(for='corp', data-icon='p')  Kurum 
                  |                                     
                  input#corp(name='corp', required='required', type='text', placeholder='?')
                |                                  
                p
                  label.sehir(for='city', data-icon='p')  Şehir 
                  |                                     
                  input#city(name='city', required='required', type='text', placeholder='?')
                |                                  
                p
                  label.start(for='sDate', data-icon='p')  Başlama Tarihi 
                  |                                     
                  input#sDate(name='sDate', required='required', type='text', placeholder='gg/aa/yy')
                |                                  
                p
                  label.finish(for='fDate', data-icon='p')  Bitiş Tarihi 
                  |                                     
                  input#fDate(name='fDate', required='required', type='text', placeholder='gg/aa/yy')
                |                                  
                p
                  label.dd(for='dayDone', data-icon='p')  Yapılan Gün 
                  |                                     
                  input#dayDone(name='dayDone', required='required', type='number', placeholder='?')
                |                                  
                p
                  label.konu(for='sub', data-icon='p')  Konu 
                  |                                     
                  input#sub(name='sub', required='required', type='text', placeholder='?')
                |                                  
                p
                  label.sch(for='school', data-icon='p')  Okul 
                  |                                     
                  input#school(name='school', required='required', type='text', placeholder='KTÜ')
                |                                  
                p
                  label.kkk(for='kurul', data-icon='p')  Kurul 
                  |                                     
                  input#kurul(name='kurul', required='required', type='text', placeholder='KU1-KU2')
                |                              
                p.register.button
                  input(type='submit', value='Kayıt')
                |                                 
                
            | 